/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */


html, body {
    background-color: white;
	font-family: "Poetsen One", "Winky Rough", sans-serif;
    height: 100%;
}

body {
	display: grid;
	grid-template-columns: 1fr min-content;
}

#upper { /* left */
	height: 100vh;
	display: grid;
	grid-template-rows: 2fr 3fr;

	#hero {
		display: grid;
		grid-template-rows: 1fr fit-content;
		padding: 30px;
		#weekday {
			font-size: 3.5em;
		}
		#date {
			font-size: 1.5em;
			color: #333333
		}
		#current-weather {
			display: flex;
			flex-direction: row;
			align-items: center;
			#current-temp {
				font-size: 7em;
				color: red;
			}
			#current-weather-icon {
				width: 128px;
				height: 128px;
				margin-top: -20px;
				margin-left: 20px;
			}
		}
	}
	#forecast-hourly {
		width: 100%;
		/* height: 100%; */
		display: flex;
		/* flex-direction: row; */
		align-items: center;
		/* justify-content: center; */
		font-size: 1.5em;
		padding-left: 40px;
	}

}

#lower {
	height: 100vh;
	#forecast {
		height: 100vh;
		#forecast-daily {
			display: grid;
			flex-direction: column;
			/* display: grid; */
			grid-template-columns: 1fr min-content min-content;
			align-items: center;
			height: 100vh;
			border-left: black 1px dashed;
			grid-template-rows: repeat(6, minmax(0, 1fr));
			padding-right: 30px;

			.daily-item {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				margin: 10px 0;
			}

			.day {
				font-size: 2em;
				text-align: right;
				padding-left: 40px;
			}
			.temp {
				font-size: 2.2em;
				color: red;
			}

			.icon {
				width: 50px;
				height: 50px;
				margin: 0px 40px;
			}
		}
	}

}

footer {
    position: absolute;
    bottom: 0;
	right: 10px;
    text-align: center;
	font-size: 0.6em;
}

.section {
    /* margin: 10px; */
	padding: 20px;
}
